.login-form {
    width: 100%;
    padding: 24px;
    .button {
        width: 100%;
        background: rgba(197, 220, 250, 0.5);
        height: 48px;
        border-radius: 8px;
        transition: .1s;
        &:hover {
            background-color: #fff;
        }
    }
    .form-group {
        margin-bottom: 20px;
    }
    input {
        font-size: 14px;
    }
}